.optional-message {
    background-color: #FDB913;
    color: #000;
    padding: 30px;
    width: 100%;
}
.inquiry-form{

    .form {
        input {
            border-radius: unset!important;
        }
    }
    
}
