<div class="container border-bottom pt-5 mt-5">
<!-- Default form register -->
<form class="text-center border border-light p-5" [formGroup]="formGroup" (validSubmit)="onSubmit()">

    <p class="h4 mb-4">REQUEST A QUOTE</p>
    <p>Please fill out as much information as you can below or email me here if you would rather not use this form.</p>
    <div class="form-row mb-4">
        <div class="col">
            <input type="text" 
                id="contact_name" 
                class="form-control" 
                placeholder="Contact name *"
                formControlName="contact_name">
        </div>
        <div class="col">
            <input type="text" 
                id="company_name" 
                class="form-control" 
                placeholder="Company name *"
                formControlName="company_name"
                >
        </div>
        <div class="col">
            <input type="text" 
                id="phone_number" 
                class="form-control" 
                placeholder="Phone number *"
                formControlName="phone_number"
                >
        </div>
    </div>

    <div class="form-row mb-4">
        <div class="col">
            <input type="text" 
                id="website" 
                class="form-control" 
                placeholder="Website *"
                formControlName="website">
        </div>
        <div class="col">
            <input type="text" 
                id="email_address" 
                class="form-control" 
                placeholder="Email address *"
                formControlName="email_address"
                >
        </div>
        <div class="col">
            <input type="text" 
                id="project_name" 
                class="form-control" 
                placeholder="Project name *"
                formControlName="project_name"
                >
        </div>
    </div>

    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
    </small>

    <!-- Phone number -->
    <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
        Optional - for two step authentication
    </small>

    <!-- Newsletter -->
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div>

    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Sign in</button>

    <!-- Social register -->
    <p>or sign up with:</p>

    <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>
    <div class="col-md-2">
        <button type="button" class="btn btn-info"
                popover="I will hide on blur"
                triggers="mouseenter:mouseleave">
          Hover over me!
        </button>

        <i class="fas fa-question light-blue-text" popover="I will hide on blur"
        triggers="mouseenter:mouseleave"></i>
      </div>
    <hr>

    <!-- Terms of service -->
    <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a>

</form>
<!-- Default form register -->
</div>
