/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.img-overlay{
  background: linear-gradient(50deg, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.50));
  background-size: 400% 400%;

  -webkit-animation: AnimationName 40s ease infinite;
  -moz-animation: AnimationName 40s ease infinite;
  -o-animation: AnimationName 40s ease infinite;
  animation: AnimationName 40s ease infinite;
  position: absolute;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing{
  position: relative;
  top: -3px;
  z-index: -1;
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


// landing page image about, services & portfolio
.landing-img-right{
  transition: all .4s ease-in-out;
  position: relative;
  right: -100%;
}
.landing-img-left{
  transition: all .4s ease-in-out;
  position: relative;
  left: -100%;
}
//if scrolled this class will be added
.landing-img-right-scrolled{
  transition: all .4s ease-in-out;
  position: relative;
  right: 0% !important;
}

.landing-img-left-scrolled{
  transition: all .4s ease-in-out;
  position: relative;
  left: 0% !important;
}
