<ngb-carousel *ngIf="images" [ngStyle]="{'z-index': '1'}">
  <ng-template ngbSlide *ngFor="let img of images; index as i">
    <div class="picsum-img-wrapper">
      <div class="img-overlay h-100 w-100">

      </div>
      <img class="c-image" [ngStyle]="{'max-height': contentHeight + 'px', 'object-fit': 'cover'}" [src]="img" alt="My image {{i + 1}} description">
    </div>
    <div class="carousel-caption">
      <h3>My slide {{i + 1}} title</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
</ngb-carousel>

<!-- <div class="form-check">
  <input type="checkbox" class="form-check-input" id="pauseOnHover" [(ngModel)]="pauseOnHover">
  <label class="form-check-label" for="pauseOnHover">Pause on hover</label>
</div>
<div class="form-check">
  <input type="checkbox" class="form-check-input" id="unpauseOnArrow" [(ngModel)]="unpauseOnArrow">
  <label class="form-check-label" for="unpauseOnArrow">Unpause when clicking on arrows</label>
</div>
<div class="form-check">
  <input type="checkbox" class="form-check-input" id="pauseOnIndicator" [(ngModel)]="pauseOnIndicator">
  <label class="form-check-label" for="pauseOnIndicator">Pause when clicking on navigation indicator</label>
</div>
<button type="button" (click)="togglePaused()" class="btn btn-outline-dark btn-sm">
  {{paused ? 'Cycle' : 'Pause' }}
</button> -->

<!-- Marketing here -->
<div class="marketing">
  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 col-md-7 col-sm-12 col-12 px-5 py-5">
      <h2 class="featurette-heading">Hello, We are <span class="text-danger">Ecartoongrafix</span> studio.
      <span class="d-block text-muted">It’ll blow your mind.</span></h2>
      <h3>We are all about cartoons and graphics!</h3>
      <p class="lead">Once upon a time a cartoonist & a graphic designer joined forces and ventured in the world wide web hence eCartoongrafix illustration studio was born in 2003.</p>
      <a routerLink="/about" class="btn btn-lg btn-outline-danger">
        <h3 class="my-0">About Us</h3>
      </a>
    </div>
    <div class="col-md-5 col-md-5 col-sm-12 col-12 px-0">
      <img id="img1" class="bg-dark h-100 w-100 landing-img-right" [ngClass]="{'landing-img-right-scrolled': showImg_1}" alt="">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-lg-7 col-md-7 col-sm-12 col-12 order-md-2 px-5 py-5 my-5">
      <h2 class="featurette-heading mt-0"><span class="text-danger">Professional</span> Work & Project <span class="text-danger">Experience</span>.
      <span class="d-block text-muted">See for yourself.</span></h2>
      <h3>We have more than 10 years of professional work & project experience in the field of illustration, cartooning and design.</h3>
      <h4 class="lead">Our mission is simple:</h4>
      <p class="lead">To offer visual solutions through fun, light & informative cartoon graphics & illustrations.</p>
      <a routerLink="/services" class="btn btn-lg btn-outline-danger">
        <h3 class="my-0">Services</h3>
      </a>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-12 px-0 order-md-1">
      <img id="img2" class="bg-dark h-100 w-100 landing-img-left" [ngClass]="{'landing-img-left-scrolled': showImg_2}" alt="">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-lg-7 col-md-7 col-sm-12 col-12 px-5 py-5">
      <h2 class="featurette-heading">And lastly, Our <span class="text-danger">Portfolio</span>. <span class="text-muted">Check it out!</span></h2>
      <p class="lead">Our current market are children’s book illustration market, print media, educational market, NGOs, licensing firms, ad agencies, design studios, SMEs, print shops, gaming industry, apps, government sector, personal projects & publishing houses.</p>
      <a routerLink="/portfolio" class="btn btn-lg btn-outline-danger">
        <h3 class="my-0">PORTFOLIO</h3>
      </a>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-12 px-0">
      <img id="img3" class="bg-dark h-100 w-100 landing-img-right" [ngClass]="{'landing-img-right-scrolled': showImg_3}" alt="">
    </div>
  </div>

  <hr class="featurette-divider mb-0">

  <!-- /END THE FEATURETTES -->

<!-- </div -->
