<!-- Marketing here -->
<div class="container-fluid px-0 marketing">
  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 px-5 py-5">
      <h2 class="featurette-heading">Hello, We are ecartoongrafix studio.
      <span class="d-block text-muted">It’ll blow your mind.</span></h2>
      <h3>We are all about cartoons and graphics!</h3>
      <p class="lead">Once upon a time a cartoonist & a graphic designer joined forces and ventured in the world wide web hence eCartoongrafix illustration studio was born in 2003.</p>
      <a routerLink="/about" class="btn btn-lg btn-outline-info">About Us</a>
    </div>
    <div class="col-md-5">
      <img class="bg-dark h-100 w-100" alt="">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2 px-5 py-5 my-5">
      <h2 class="featurette-heading mt-0">Professional Work & Project Experience.
      <span class="d-block text-muted">See for yourself.</span></h2>
      <h3>We have more than 10 years of professional work & project experience in the field of illustration, cartooning and design.</h3>
      <h4 class="lead">Our mission is simple:</h4>
      <p class="lead">To offer visual solutions through fun, light & informative cartoon graphics & illustrations.</p>
      <a routerLink="/services" class="btn btn-lg btn-outline-info">Services</a>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="bg-dark h-100 w-100" alt="">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 px-5 py-5">
      <h2 class="featurette-heading">And lastly, Our Portfolio. <span class="text-muted">Check it out!.</span></h2>
      <p class="lead">Our current market are children’s book illustration market, print media, educational market, NGOs, licensing firms, ad agencies, design studios, SMEs, print shops, gaming industry, apps, government sector, personal projects & publishing houses.</p>
      <a routerLink="/portfolio" class="btn btn-lg btn-outline-info">PORTFOLIO</a>
    </div>
    <div class="col-md-5">
      <img class="bg-dark h-100 w-100" alt="">
    </div>
  </div>

  <hr class="featurette-divider mb-0">

  <!-- /END THE FEATURETTES -->

</div>
