// .process-container {

//     .process-content{
//         background-color: #F2F2F2;
//         min-height: 395px;
//         background-color:  #F26052;
//         background-position: center top;
//         background-repeat: no-repeat;
//         padding: 90px 30px 72px;
//         background-size: cover;
//         border-bottom: solid 1px black;      
//     }

    
// }

ul {
    padding: 0;
    width: 100vw;
    
    li{
        list-style-type:none;

        h3 {
            color: #000000;
            margin-top: 5px;
        }
    }
}