<div class="pt-5 mt-5">  
  <accordion [isAnimated]="true" [closeOthers]="true">
      <accordion-group 
        *ngFor="let data of list; let i = index"
        class="process-content"
        id="processPanel_{{ i }}"
        #group
        (click)="doSomethingOnOpen(data)">
        <span accordion-heading class="sample-class">
          <div class="overlay">
            <div class="process-details">
                <h4>{{ data.name }}</h4>
                <p>{{ data.description }}</p>
                <i [ngClass]="{'fa-chevron-up faq-active': group?.isOpen, 'fa-chevron-down': !group?.isOpen}"
                 class="fa align-bottom" aria-hidden="true"></i>
            </div>
          </div>
        </span>
          <ul>
            <li *ngFor="let d of data.steps; let indx = index">
              <h3 class="text-center"> 
                  {{ d.title }}
              </h3> 
              <div class="container">
                  <p class="text-center">
                      {{ d.description }}
                    </p>
              </div>

              <div class="text-center">
                <img src="{{ d.img_url }}" class="rounded img-fluid" alt="Cinque Terre">
                <br>
                <img *ngIf="data.steps.length != (indx+1)" src="../../../../assets/images/arrow_down.gif" alt="">
              </div>

            </li>
          </ul>
        </accordion-group>
  </accordion>

</div>
