<div id="columns">
    <figure>
      <a (click)="openDialog()" >Add more</a>
    </figure>
    <figure *ngFor="let data of portfolioDataList"  >
        <img src="{{ data.img_url }}"  [routerLink]="['/admin/portfolio/' + data.id]" >
        <h4>{{ data.name }}</h4>
  
        <figcaption>
          <a (click)="onVisibility(data.id)"> {{ (data.status)? 'visible' : 'invisible' }} </a> | 
          <a (click)="formFlg = 'update'; onUpdate(data)" >update</a> </figcaption>
      </figure>


    <figure *ngIf="showLoadMore">
      <a (click)="loadMore()" >Show more</a>
    </figure>
</div>