<div class="hero" sr-only="this is the banner">
  <h1 class="text-center">HELLO, We are <span class="text-danger">eCartoongrafix!</span><br>
  <h3 class="text-center my-5">Want to know more about us?
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <defs>
    	  <symbol id="arrow" viewBox="0 0 100 100">
    	  	<path d="M12.5 45.83h64.58v8.33H12.5z"/>
        		<path d="M59.17 77.92l-5.84-5.84L75.43 50l-22.1-22.08 5.84-5.84L87.07 50z"/>
    	  </symbol>
      </defs>
    </svg>
    <div class="content">

  		<a routerLink="/about" class="button-custom">
  			Click Here
  			<span>
  				<svg>
  					<use xlink:href="#arrow" href="#arrow"></use>
  				</svg>
  			</span>
  		</a>

  	</div>
  </h3>
  <h6 class="text-center">We prepared for you most of our best works. We hope you enjoy viewing it.</h6>
  <h1 class="text-center">CHECK OUR PORTFOLIO BELOW</h1></h1>
  <a class="scroll-link" href="/portfolio#content" (click)="smoothScroll()">
    <svg class="mouse" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 130" preserveAspectRatio="xMidYMid meet">
    <g fill="none" fill-rule="evenodd">
      <rect width="70" height="118" x="1.5" y="1.5" stroke="#FFF" stroke-width="3" rx="36"/>
      <circle class="scroll" cx="36.5" cy="31.5" r="4.5" fill="#FFF"/>
    </g>
  </svg>
  </a>

</div>
<div class="row px-3 border-bottom" id="content">
  <!-- ITEMS START HERE -->
  <div (click)="redirectPortfolioitems(data.id)" class="col-md-6 px-0 pointer-hand img-hover-zoom img-hover-zoom--blur" *ngFor="let data of portfolioService.portfolioDataList">
    <img class="portfolio-img" [src]="data.img_url" alt="" [ngStyle]="{'max-height': '500px'}">
    <div class="img-overlay-text-blur">
      <h1 class="text-center w-100 overlay-text-blur text-white font-weight-bolder">{{data.name}}</h1>
    </div>
    <div class="img-overlay-text">
      <h1 class="text-center w-100 overlay-text text-white font-weight-bolder">{{data.name}}</h1>
    </div>
  </div>

</div>
