<div id="columns">
  <figure>
      <a (click)="openDialog()" >Add more</a>
    </figure>
	<figure *ngFor="let data of portfolioService.portfolioDataListArtwork">
		<img src="{{ data.img_url }}">
		<figcaption>
      <a (click)="onVisibility(data.id)"> {{ (data.status)? 'visible' : 'invisible' }} </a> | 
      <a (click)="delete(data)">delete</a> | 
      <a (click)="update(data)">update</a> 
    </figcaption>
  </figure>
  <!-- <figure>
      <a (click)="loadMore()" >Show more</a>
    </figure> -->
</div>
