<div class="d-flex flex-column h-100">
  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <header>
      <!-- Fixed navbar -->
      <nav id="navbar" class="navbar navbar-light fixed-top navbar-expand-lg text-white" [ngClass]="{'navScollClass': windowScrolled}">
        <!-- <a class="navbar-brand" href="#"> -->
        <span class="nav-brand">
          <img src="/assets/images/ecartoon-graphix-design.png" class="d-inline-block align-top" alt="">
          <span class="logoName">eCartoongrafix</span>
        </span>
        <!-- </a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto mynav-link">
            <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> -->
            <a class="nav-item nav-link" [ngClass]="{'text-black': windowScrolled_rev}" routerLink="/">Home</a>
            <a class="nav-item nav-link" [ngClass]="{'text-black': windowScrolled_rev}" routerLink="/portfolio">Portfolio</a>
            <a class="nav-item nav-link" [ngClass]="{'text-black': windowScrolled_rev}" routerLink="/services">Services</a>
            <a class="nav-item nav-link" [ngClass]="{'text-black': windowScrolled_rev}" routerLink="/process">Process</a>
            <a class="nav-item nav-link" [ngClass]="{'text-black': windowScrolled_rev}" routerLink="/faq">Faq</a>
            <a class="nav-item nav-link" [ngClass]="{'text-black': windowScrolled_rev}" routerLink="/about">About</a>
            <a class="nav-item nav-link" [ngClass]="{'text-black': windowScrolled_rev}" routerLink="/contact">Contact</a>
          </div>
        </div>
      </nav>
      <!-- <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark main-nav add-shadow">
          <div class="container nav-container">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse w-100">
                  <ul class="nav navbar-nav w-100">
                      <li class="nav-item active">
                          <a class="nav-link" routerLink="/">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" routerLink="/portfolio">Portfolio</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" routerLink="/services">Services</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" routerLink="/process">Process</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" routerLink="/store">Store</a>
                      </li>
                  </ul>
              </div>
              <div class="navbar-brand order-first order-md-0 mx-0" [ngStyle]="{ 'position': 'relative' }">
                <img class="brandingLogo" src="/assets/images/ecartoon-graphix-design.png">
              </div>
              <div class="collapse navbar-collapse w-100">
                  <ul class="nav navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link" routerLink="/faq">Faq</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" routerLink="/about">About</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" routerLink="/contact">Contact</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav> -->
    </header>
    <div class="container-fluid px-0" id="main-div">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="/assets/images/ecartoon-graphix-design.png" alt="" width="24" height="24"> <span class="align-top pl-2">Ecartoongrafix</span>
          <small class="d-block mb-3">© 2017-2019</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="" href="#">Cool stuff</a></li>
            <li><a class="" href="#">Random feature</a></li>
            <li><a class="" href="#">Team feature</a></li>
            <li><a class="" href="#">Stuff for developers</a></li>
            <li><a class="" href="#">Another one</a></li>
            <li><a class="" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="" href="#">Resource</a></li>
            <li><a class="" href="#">Resource name</a></li>
            <li><a class="" href="#">Another resource</a></li>
            <li><a class="" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="" href="#">Team</a></li>
            <li><a class="" href="#">Locations</a></li>
            <li><a class="" href="#">Privacy</a></li>
            <li><a class="" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>

<!-- <main class="container-fluid">
  <div class="row">
    <h2> <a routerLink="landing-page">Manage User</a> </h2>
    <span>{{ title }} app is running! In User UI</span>
    	<h1>Fluid Vertical Rhythm</h1>
    	<p>This is an example of fluid type that maintains vertical rhythm. I'll try and find the time to write it up in detail soon.</p>

        <h1> <a routerLink="landing-page">Manage User</a> </h1>
    	<p>If the lines seem to glitch out ocasionally it's not because the vertical rhythm is broken. I think it's because of the way the browser rounds. The height of the gradient background that draws the lines on the body element is only rounded once, whereas real line hight is rounded on a per element basis. This adds up by the time you get to the bottom of the page. No idea how to fix it!</p>


    	<h2>Fluid Vertical Rhythm</h2>
    	<p>This is an example of fluid type that maintains vertical rhythm. I'll try and find the time to write it up in detail soon.</p>
    	<p>If the lines seem to glitch out ocasionally it's not because the vertical rhythm is broken. I think it's because of the way the browser rounds. The height of the gradient background that draws the lines on the body element is only rounded once, whereas real line hight is rounded on a per element basis. This adds up by the time you get to the bottom of the page. No idea how to fix it!</p>



    	<h3>Fluid Vertical Rhythm</h3>
    	<p>This is an example of fluid type that maintains vertical rhythm. I'll try and find the time to write it up in detail soon.</p>
    	<p>If the lines seem to glitch out ocasionally it's not because the vertical rhythm is broken. I think it's because of the way the browser rounds. The height of the gradient background that draws the lines on the body element is only rounded once, whereas real line hight is rounded on a per element basis. This adds up by the time you get to the bottom of the page. No idea how to fix it!</p>



    	<h4>Fluid Vertical Rhythm</h4>
    	<p>This is an example of fluid type that maintains vertical rhythm. I'll try and find the time to write it up in detail soon.</p>
    	<p>If the lines seem to glitch out ocasionally it's not because the vertical rhythm is broken. I think it's because of the way the browser rounds. The height of the gradient background that draws the lines on the body element is only rounded once, whereas real line hight is rounded on a per element basis. This adds up by the time you get to the bottom of the page. No idea how to fix it!</p>
  </div>
</main>
 -->
