<div class="main-container">
  <!-- <app-admin-header></app-admin-header> -->
  <!-- toolbar -->
  <mat-toolbar [ngStyle]="{'background': '#F62217', 'padding-bottom': '5px'}" class="text-white add-shadow">
    <mat-toolbar-row class="add-shadow">
      <button mat-icon-button type="button" (click)="drawerToggle()">
        <mat-icon style="font-size: 32px; transform: translateX(-4px); border:none;">menu</mat-icon>
      </button>
      <span style="margin-left: 6px;">
        <img alt="" class="myLogo mb-2 pr-2" height="54" src="/assets/images/ecartoon-graphix-design.png" width="64">
        <strong>ecartoongrafix</strong>
      </span>
      <div style="flex: 1 1 auto;"></div>
      <button (click)="authenticationService.logout()" [routerLink]="['/cms-login']" style="outline: none; margin-right: 5px;" mat-icon-button>
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- <app-admin-nav></app-admin-nav> -->
  <!-- side nav -->
  <mat-sidenav-container #drawer class="main-sidenav-container"
    style="background-color: white">
    <mat-sidenav [ngClass]="drawerShow ? 'sideNavShow' : 'sideNavHide'" mode="side" opened
      (mouseenter)="drawerShow = true" (mouseleave)="drawerShow = drawerOpen">
      <div class="drawer">
        <div class="btn_drawer" [routerLink]="['faq']" (click)="btnId=false; showSettingMenu = false"  routerLinkActive="active-list-item">
          <div class="drawer_selected"></div>
          <div style="position: initial;">
            <mat-icon class="drawer_img">info</mat-icon>
          </div>
          <div [ngClass]="!drawerShow ? 'drawer_text div_hide' : 'drawer_text'">Faqs</div>
        </div>

        <div class="btn_drawer" [routerLink]="['portfolio']" (click)="btnId=false; showSettingMenu = false"  routerLinkActive="active-list-item">
          <div class="drawer_selected"></div>
          <div style="position: initial;">
            <mat-icon class="drawer_img">photo_library</mat-icon>
          </div>
          <div [ngClass]="!drawerShow ? 'drawer_text div_hide' : 'drawer_text'">Portfolio</div>
        </div>

        <div class="btn_drawer" [routerLink]="['inquiry']" (click)="btnId=false; showSettingMenu = false"  routerLinkActive="active-list-item">
          <div class="drawer_selected"></div>
          <div style="position: initial;">
            <mat-icon class="drawer_img">directions</mat-icon>
          </div>
          <div [ngClass]="!drawerShow ? 'drawer_text div_hide' : 'drawer_text'">Inquiry</div>
        </div>

        <div class="btn_drawer" [routerLink]="['process']" (click)="btnId=false; showSettingMenu = false"  routerLinkActive="active-list-item">
          <div class="drawer_selected"></div>
          <div style="position: initial;">
            <mat-icon class="drawer_img">360</mat-icon>
          </div>
          <div [ngClass]="!drawerShow ? 'drawer_text div_hide' : 'drawer_text'">Process</div>
        </div>

        <div class="btn_drawer" [routerLink]="['about']" (click)="btnId=false; showSettingMenu = false"  routerLinkActive="active-list-item">
          <div class="drawer_selected"></div>
          <div style="position: initial;">
            <mat-icon class="drawer_img">recent_actors</mat-icon>
          </div>
          <div [ngClass]="!drawerShow ? 'drawer_text div_hide' : 'drawer_text'">About</div>
        </div>

        <div class="btn_drawer" [routerLink]="['service']" (click)="btnId=false; showSettingMenu = false"  routerLinkActive="active-list-item">
          <div class="drawer_selected"></div>
          <div style="position: initial;">
            <mat-icon class="drawer_img">home_work</mat-icon>
          </div>
          <div [ngClass]="!drawerShow ? 'drawer_text div_hide' : 'drawer_text'">Service</div>
        </div>
      </div>
    </mat-sidenav>
    <!-- <mat-sidenav-content> -->
    <div [ngClass]="{'router_grow':!drawerOpen, 'router_shrink':drawerOpen,
        'router_dim':drawerShow && !drawerOpen}" style="background-color: #ffffff; height: 100%;">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
  <app-admin-footer></app-admin-footer>
</div>
