<div class="container border-bottom pt-5 mt-5">

<accordion [isAnimated]="true">
    <accordion-group  
      *ngFor="let faq of faqService.list; let i = index" [isOpen]="activeFaqindex === i"
       >
      <span accordion-heading>
          <i class="fa fa-plus" aria-hidden="true"></i>  {{ faq.title }}
      </span>

        <div [innerHtml]="faq.answer" ></div>
      </accordion-group>
  
  <!-- <accordion-group heading="Static Header">
    This content is straight in the template.
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group> -->
</accordion>

  <!-- <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel  *ngFor="let faq of faqService.list" title="{{ faq.title }}">
          <ng-template ngbPanelContent>
            <div [innerHtml]="faq.answer" ></div>
          </ng-template>
      </ngb-panel>
    </ngb-accordion> -->
</div>
