<div class="container pt-5 mt-5 mb-5">
  <accordion [isAnimated]="true">
      <accordion-group 
        *ngFor="let faq of faqService.list; let i = index"
        class="faq-content"
        #group [isOpen]="activeFaqindex === i">
        <span accordion-heading>
            <i [ngClass]="{'fa-chevron-down faq-active': group?.isOpen, 'fa-chevron-right': !group?.isOpen}"
            class="fa float-right" aria-hidden="true"></i>
            <span [ngClass]="{'faq-active' : group?.isOpen }">{{ faq.title }}</span>
        </span>

          <div [innerHtml]="faq.answer" ></div>
        </accordion-group>
  </accordion>
</div>

<!-- <div class="w-100 p-3 faq-footer">
  <div class="container">
      <div class="row">
          <div class="col">
            <span class="faq-left">
              Still have questions? Drop US a line. We ate happy to talk.
            </span>
          </div>
          <div class="col">
            2 of 2
          </div>
        </div>
  </div>
</div> -->
